<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tdt4250 -->
      <package
            uri="http://www.example.org/tdt4250"
            class="tdt4250.Tdt4250Package"
            genModel="model/tdt4250.genmodel"/>
   </extension>

</plugin>
